---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";
const happy = true;
const finished = true;
const goal = 3;

const identity = {
  name: "Kazuma Ohara",
  country: "Japan",
  occupation: "Graduate student at Tokyo Institute of Technology",
  hobbies: ["playing a guitar", "eating sweets", "baseball"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "Nuxt.js",
  "Python",
  "PHP",
  "Java",
  "TypeScript",
  "Astro",
];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<style define:vars={{ skillColor, fontWeight, textCase }}>
  .skill {
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    /* text-transform: var(--textCase); */
  }
</style>
<BaseLayout pageTitle={pageTitle}>
  <!--   {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished this tutrial!</p>}
  {
    goal == 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3days.</p>
    )
  } -->

  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.name}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are {identity.hobbies[0]} and {identity.hobbies[1]}.
        </li>
      )
    }
  </ul>
  <h2>Skills</h2>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
  <h2>Research</h2>
  <p>
    I belong to Yamaguchi Lab of Information and Communications Enginerring.
  </p>
  <p>
    Researching "High-resolution image reconstruction method for See-through
    screen camera using volume holographic optical elements".
  </p>
</BaseLayout>
